<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.winboll.studio.libaes">

    <application>

        <activity android:name="cc.winboll.studio.libaes.unittests.SecondaryLibraryActivity"/>

        <activity android:name="cc.winboll.studio.libaes.unittests.TestDrawerFragmentActivity"/>

        <activity android:name="cc.winboll.studio.libaes.unittests.TestAToolbarActivity"/>

        <activity android:name="cc.winboll.studio.libaes.unittests.TestASupportToolbarActivity"/>

    </application>

</manifest>
