<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.winboll.studio.libaes">

    <application>

        <activity
            android:name="cc.winboll.studio.libaes.unittests.SecondaryLibraryActivity"
            android:exported="true"/>

        <activity
            android:name="cc.winboll.studio.libaes.unittests.TestDrawerFragmentActivity"
            android:exported="true"/>

        <activity
            android:name="cc.winboll.studio.libaes.unittests.TestAToolbarActivity"
            android:exported="true"/>

        <activity
            android:name="cc.winboll.studio.libaes.unittests.TestASupportToolbarActivity"
            android:exported="true"/>

        <service
            android:name="cc.winboll.studio.libaes.winboll.WinBoLLClientService"
            android:exported="true"/>

        <service
            android:name="cc.winboll.studio.libaes.winboll.AssistantService"
            android:exported="true"/>

        <service
            android:name="cc.winboll.studio.libaes.winboll.WinBoLLMail"
            android:exported="true"/>

    </application>

</manifest>