<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.winboll.studio.contacts">

    <!-- BIND_AUTOFILL_SERVICE -->
    <uses-permission android:name="android.permission.BIND_AUTOFILL_SERVICE"/>

    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_winboll"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/studio_provider"/>

        </provider>

        <service
            android:name="cc.winboll.studio.contacts.services.MainService"
            android:exported="true"/>

        <service android:name="cc.winboll.studio.contacts.services.AssistantService"/>

        <receiver android:name="cc.winboll.studio.contacts.receivers.MainReceiver">

            <intent-filter>

                <action android:name="cc.winboll.studio.contacts.receivers.MainReceiver"/>

            </intent-filter>

        </receiver>

        <receiver
            android:name=".widgets.APPStatusWidget"
            android:exported="true">

            <intent-filter>

                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>

                <action android:name="cc.winboll.studio.contacts.widgets.APPStatusWidget.ACTION_STATUS_ACTIVE"/>

                <action android:name="cc.winboll.studio.contacts.widgets.APPStatusWidget.ACTION_STATUS_NOACTIVE"/>

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info"/>

        </receiver>

        <receiver android:name=".widgets.APPStatusWidgetClickListener">

            <intent-filter>

                <action android:name="cc.winboll.studio.contacts.widgets.APPStatusWidgetClickListener.ACTION_APPICON_CLICK"/>

            </intent-filter>

        </receiver>

    </application>

</manifest>