<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        tools:replace="android:icon,android:roundIcon"
        android:icon="@drawable/ic_launcher_beta"
        android:roundIcon="@drawable/ic_launcher_beta">

        <!-- Put flavor specific code here -->

    </application>

</manifest>

