<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.winboll.studio.appbase">

    <application
        android:name=".App"
        android:icon="@drawable/ic_winboll"
        android:label="@string/app_name"
        android:theme="@style/MyAPPBaseTheme"
        android:resizeableActivity="true"
        android:process=":App"
        android:sharedUserId="@string/shared_user_id"
        android:sharedUserLabel="@string/shared_user_label">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:resizeableActivity="true"
            android:launchMode="singleTop"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".Main2Activity"
            android:label="@string/app_name"
            android:exported="true"
            android:resizeableActivity="true"
            android:launchMode="singleTop"
            android:taskAffinity="cc.winboll.studio.appbase.Main2Activity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">

        </activity>

        <activity android:name=".GlobalApplication$CrashActivity"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

        <activity android:name="cc.winboll.studio.libappbase.activities.CrashCopyReceiverActivity"/>

        <activity android:name=".AboutActivity"/>

        <activity android:name="cc.winboll.studio.appbase.develop.APPExcetionMailSettingsActivity"
			android:exported="true"/>

    </application>

</manifest>
