<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.winboll.studio.libappbase">

    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <activity
            android:name=".CrashHandler$CrashActivity"
            android:label="CrashActivity"
            android:launchMode="standard"/>

        <activity
            android:name=".GlobalCrashActivity"
            android:label="GlobalCrashActivity"
            android:launchMode="standard"/>

        <service android:name=".SimpleOperateSignalCenterService"
            android:exported="true">
        </service>

        <activity android:name=".LogActivity"/>

        <receiver android:name=".receiver.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="cc.winboll.studio.libappbase.action.SOS" />
            </intent-filter>
        </receiver>

        <receiver android:name="cc.winboll.studio.libappbase.receiver.WinBollReceiver"
            android:exported="true">

            <intent-filter>

                <action android:name="cc.winboll.studio.libappbase.WinBoll.ACTION_SOS"/>

            </intent-filter>

        </receiver>
        
        <receiver android:name=".widgets.TimeWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.android.UPDATE_TIME" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />
        </receiver>
        
    </application>

</manifest>
