<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.winboll.studio.libappbase" >

    <application>
        <activity
            android:name=".CrashHandler$CrashActiviy"
            android:label="CrashActiviy"
            android:launchMode="standard"/>
        <activity
            android:name=".CrashHandler$GlobalCrashActiviy"
            android:label="GlobalCrashActiviy"
            android:launchMode="standard"/>
    </application>

</manifest>

