<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.winboll.studio.libappbase">

    <application
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".CrashActivity"
            android:label="CrashActivity"
            android:launchMode="singleInstance"
            android:process=":CrashActivity"/>

        <activity
            android:name=".GlobalCrashActivity"
            android:label="GlobalCrashActivity"
            android:launchMode="singleInstance"
            android:process=":GlobalCrashActivity"/>

        <activity
            android:name=".LogActivity"
            android:label="LogActivity"
            android:resizeableActivity="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:launchMode="singleInstance"
            android:taskAffinity="cc.winboll.studio.libappbase.LogActivity"
            android:process=":LogActivity">

        </activity>

        <activity android:name="cc.winboll.studio.libappbase.activities.NfcRsaLoginActivity"/>

        <activity android:name="cc.winboll.studio.libappbase.activities.FTPBackupsActivity"/>

        <activity
            android:name=".utils.ShareLogActivity"
            android:label="ShareLogActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay"/>

    </application>

</manifest>